<%= form_with model: blog_post do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this blog_post from being saved:</h2>
      <ul>
        <% form.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <%= form.submit %>
<% end %>